{% extends "layout/layout_home.html" %} {% block title %}Temp Home{% endblock %}
{% block body %}
<h2>Home page</h2>
<p>Here lists all the accesible links for this projects</p>

<ul>
    <li>
        <a href="{% url 'login' %}">Login</a>
    </li>

    <li>
        <a href="{% url 'signup' %}">Signup</a>
    </li>

    <li>
        <a href="{% url 'employee_landing_view' %}">Employee Landing View</a>
    </li>

    <li>
        <a href="{% url 'employee_create' %}">New Employee</a>
    </li>
</ul>

{% endblock %}
